#Python
 
__pycache__/
*.py[cod]
*.egg-info/




#Virtual environment

.venv/
venv/




# Environment variables  / secrets

.env
.env.*


# macOS

DS_Store



# IDE

.vscode/
.idea/



# Test  /  coverage

.pytest_cache/
.coverage
htmlcov/




# Local data

data/*
!data/.gitkeep

